<div class="container mt-5">
  <h2>Add New Measurements</h2>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>Carbonate Intake</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount (mg)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carbonate of dailyCarbonateIntakes">
            <td>{{ carbonate.date | date:'MM/dd/yyyy' }}</td>
            <td>{{ carbonate.gram }}</td>
          </tr>
        </tbody>
      </table>

      <form (ngSubmit)="addCarbonate()" #carbonateForm="ngForm">
        <div class="form-group">
          <label for="gram">Amount (mg)</label>
          <input type="number" class="form-control" id="gram" name="gram" [(ngModel)]="newCarbonate.gram" required>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!carbonateForm.form.valid">Add</button>
      </form>
    </div>

    <div class="col-md-6">
      <h4>Blood Glucose Level</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Level (mg/dL)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let glucose of dailyBloodGlucoseLevels">
            <td>{{ glucose.glDate | date:'MM/dd/yyyy' }}</td>
            <td>{{ glucose.glTime }}</td>
            <td>{{ glucose.measurement }}</td>
          </tr>
        </tbody>
      </table>

      <form (ngSubmit)="addGlucose()" #glucoseForm="ngForm">
        <div class="form-group">
          <label for="measurement">Level (mg/dL)</label>
          <input type="number" class="form-control" id="measurement" name="measurement" [(ngModel)]="newGlucose.measurement" required>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!glucoseForm.form.valid">Add</button>
      </form>
    </div>
  </div>
  <hr>
</div>
