<div class="container-fluid">

  <!-- // Update Doctor // -->
<div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header">
          <h4 class="card-title">Account Management</h4>
        </div>
        <div class="card-body d-flex">
    <div class="float-child">
      <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6_Af8hy4RBKje--pOU_vNYU7DcVQfU46PsQZkdHCPPcryD2vwWO8ebwrPJnMz0p3UKx4&usqp=CAU" alt="PatientAvatar" class="image">
        <div class="buttons">
          <button disabled class="btn btn-primary mt-3" (click)="goToPatient('view-patient')">Update Doctor's Profile</button>
        </div>
      </div>
    </div>
  <!-- // Delete Doctor // -->
  <div class="float-child">
    <div class="container">
      <img src="https://cdn-icons-png.flaticon.com/512/2603/2603105.png" alt="PatientAvatar" class="image">
      <div class="buttons">
        <button disabled class="btn btn-primary mt-3" (click)="goToPatient('createPatient')">Delete Doctor's Profile</button>
      </div>
    </div>
  </div>
        </div>
      </div>
</div></div>

   <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header">
          <h4 class="card-title">Consultation Management</h4>
        </div>
        <div class="card-body d-flex">

    <!-- // Add Patient's Consultation // -->
    <div class="float-child">
      <div class="container">
        <img src="https://cdn-icons-png.flaticon.com/512/2312/2312340.png" alt="PatientAvatar" class="image">
        <div class="buttons">
          <button disabled class="btn btn-primary mt-3" (click)="goToPatient('createPatient')">Add Patient's Consultation</button>
        </div>
      </div>
    </div>


    <!-- // Update Patient's Consultation // -->
    <div class="float-child">
      <div class="container">
        <img src="https://cdn3.iconfinder.com/data/icons/database-29/100/database_data_storage_db_file-02-512.png" alt="PatientAvatar" class="image">
        <div class="buttons">
          <button disabled class="btn btn-primary mt-3" (click)="goToPatient('createPatient')">Update Patient's Consultation</button>
        </div>
      </div>
    </div>


      <!-- // Delete Patient's Data // -->
      <div class="float-child">
        <div class="container">
          <img src="https://iconarchive.com/download/i65465/icojam/blue-bits/database-delete.ico" alt="PatientAvatar" class="image">
          <div class="buttons">
            <button disabled class="btn btn-primary mt-3" (click)="goToPatient('createPatient')">Delete Patient's Data</button>
          </div>
        </div>
      </div>

        </div>
      </div>

