.container {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

h5, p { display:inline }

.card{
  margin-bottom: 10px;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #005f78;
}

.float-container {
  opacity: 1;
  padding: 20px;
}

.float-child {
  opacity: 1;
  width: 35%;
  float: left;
  padding: 20px;
  border: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
