<h4 align="center">Please type doctor's data</h4>
<section class="h-100 h-custom" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <form [formGroup]="createForm" (ngSubmit)="createUser()" class="px-md-2">
            <div>
              <br>
              <label> Username: </label>
              <input type="text" formControlName="username" class="form-control mb-1" placeholder="username" required="yes">
              <!-- <small class="alert alert-danger" *ngIf="createForm.get('username').hasError('required') && createForm.get('username').touched">Username is required</small> -->
            </div>
            <div>
              <label> First Name: </label>
              <input type="text" formControlName="firstName" class="form-control mb-1" placeholder="firstName" required="yes">
              <!-- <small class="alert alert-danger" *ngIf="createForm.get('firstname').hasError('required') && createForm.get('firstname').touched">First Name is required</small> -->
            </div>
            <div>
              <label> Last Name: </label>
              <input type="text" formControlName="lastName" class="form-control" placeholder="lastName" required="yes">
              <!-- <small class="alert alert-danger" *ngIf="createForm.get('lastname').hasError('required') && createForm.get('lastname').touched">Last name is required</small>
              <small class="alert alert-danger" *ngIf="createForm.get('lastname').hasError('minlength') && createForm.get('lastname').touched">Last must have 3 letters</small> -->
            </div>
            <div>
              <label> Birth Date: </label>
              <input type="date" formControlName="dateOfBirth" class="form-control" placeholder="dateOfBirth">
            </div>
            <div>
              <div>
                <label> Doctor Type: </label>
                <input type="text" formControlName="dtype" class="form-control" placeholder="Doctor Type Doctor or Chief" value="Doctor">
                <!-- <small class="alert alert-danger" *ngIf="createForm.get('lastname').hasError('required') && createForm.get('lastname').touched">Last name is required</small>
                <small class="alert alert-danger" *ngIf="createForm.get('lastname').hasError('minlength') && createForm.get('lastname').touched">Last must have 3 letters</small> -->
              </div>
            </div>

            <div class="buttons">
              <button [disabled]="createForm.invalid" class="btn btn-primary mt-3">Create a Doctor</button>
              <button type="reset" (click)="resetForm()" class="btn btn-primary mt-3">Clear</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<pre>{{ response | json }} </pre>
